//= require furtive/css/furtive

@font-face {
  font-family: 'Monkey Island 1990';
  src: url(font_path('MonkeyIsland-1990.ttf'));
}

@font-face {
  font-family: 'Hack';
  src: url(font_path('Hack-Regular.ttf'));
}

body {
  font-family: Hack, monospace;
  background-color: #222;
  color: #c8c8c8;
  padding: 1rem;
}

h1, h2 {
  font-family: 'Monkey Island 1990', monospace;
}

h1, h2 {
  &:before {
    font-size: 50%;
    margin-right: 1rem;
  }
}

h1:before { content: '#' }
h2:before { content: '##' }

nav {
  ul {
    padding: 0;
    margin: 0;

    li {
      display: inline
    }
  }
}
