{% capture current_lang_url %}{% if site.lang != 'en' %}/{{site.lang}}{% endif %}{% endcapture %}
<!DOCTYPE html>
<html lang="{{ site.lang }}" prefix="og: http://ogp.me">
  <head>
    <meta charset="utf-8" />
    <title>{% t page.title %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    {% css main %}

	</head>
  <body>
    <nav>
      <ul>
        <li><a href="{{current_lang_url}}/translate">{% t translate %}</a></li>
        {% for lang in site.languages %}
          <li>
            {% if lang == 'en' %}
              <a href="{{page.url}}">{{lang}}</a>
            {% else %}
              <a href="/{{lang}}{{page.url}}">{{lang}}</a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>

    <nav>
      <ul>
        <li><a href="/">{% t home %}</a></li>
        <li><a href="https://releases.mailbox.sexy">{% t download %}</a></li>
        <li><a href="{{current_lang_url}}/spec">spec</a></li>
        <li><a href="{{current_lang_url}}/why">{% t why %}</a></li>
      </ul>
    </nav>
    {{ content }}
  </body>
</html>
